{% extends 'base.html' %}
{% load account_template_tags %}
{% block title %}{{ title }}{% endblock %}
{% block og_title %}{{ title }}{% endblock %}

{% block CSS %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/manager/actions.css"/>
{% endblock %}
{% block JS %}
    {{ block.super }}
    <script type="text/javascript" src="/static/lib/jquery.formset.min.js"></script>
    <script type="text/javascript" src='/static/manager/actions.js></script>
    {% if form %}
        {{ form.media }}
    {% endif %}

{% endblock %}
{% block content %}
    {% if form %}
        <form action="" method="post" enctype="multipart/form-data" id="action-form" class="js-validation-from action-form"
              data-id="{{ form.instance.id|default:'' }}">
            {% csrf_token %}
            {% block before_main %}
                <h1>
                    {{ message|safe }}
                </h1>
            {% endblock %}
            {% block main_form %}
                <fieldset class="inner_fieldset">
                    <legend>{{ title }}</legend>
                    <table style="width: 100%;">
                        {% for field in form %}
                            <tr {% if field.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                                <td class="label_td">{{ field.label }}
                                    {% if field.field.required %}<span class="required_field">*</span>{% endif %}
                                </td>
                                <td class="input_td">
                                    {% if field.field.widget.multiple_check|is_true %}
                                        <table width="100%">
                                            {% for choice in field.field.queryset %}
                                                {% if forloop.counter0|divisibleby:"3" %}
                                                    <tr>{% endif %}
                                            <td style="text-align: right">
                                                {{ choice.name }}
                                                <input id="id_
    {% if form.prefix %}{{ form.prefix }}-{% endif %}{{ field.name }}_{{ choice.id }}"
                                                       value="{{ choice.id }}" type="checkbox"
                                                       name="
    {% if form.prefix %}{{ form.prefix }}-{% endif %}{{ field.name }}"
                                                       {% if choice in form.instance|get_field:field.name %}checked="checked"{% endif %}
                                                       style="float: right;"/>
                                            </td>
                                            {% if forloop.last or forloop.counter|divisibleby:"3" %}</tr>{% endif %}
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        {% if field.field.help_text %}
                                            <table width="100%">
                                                <tr>
                                                    <td>{{ field }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ field.field.help_text }}</td>
                                                </tr>
                                            </table>
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                {% if field.errors %}
                                    <td class="error_td" width="30%">{{ field.errors }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </fieldset>
            {% endblock %}

            {% block after_main %}
            {% endblock %}

            <div class="button_holder">
                <input type="submit" value="ثبت" name="register-submit">
            </div>

            {% block after_submit %}
            {% endblock %}

        </form>
    {% else %}
        {% include 'messages_alertify.html' %}
    {% endif %}
{% endblock %}
