{% extends 'manager/actions/add_edit.html' %}

{% block content %}
    <div id="formset_div">
        {% if formset %}
            <form action="" method="post" enctype="multipart/form-data" id="formset_form" class="js-validation-from">
                {% csrf_token %}

                {% include 'formset.html' with legend=title formset=formset %}
                <div class="button_holder">
                    <input type="submit" value="ثبت" name="register-submit">
                </div>
            </form>
        {% else %}
            {% include 'messages.html' %}
        {% endif %}

    </div>
{% endblock %}