<link href="/static/inspinia/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/static/inspinia/font-awesome/css/font-awesome.css" rel="stylesheet"/>


<link href="/static/inspinia/css/plugins/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet"/>

<!-- TOASTR -->
<link href="/static/inspinia/css/plugins/toastr/toastr.min.css" rel="stylesheet"/>
<link href="/static/lib/alertify/alertify.rtl.min.css" rel="stylesheet"/>
<link href="/static/lib/alertify/default.rtl.min.css" rel="stylesheet"/>
<link href="/static/lib/alertify/bootstrap.rtl.min.css" rel="stylesheet"/>

<link href="/static/inspinia/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/static/lib/bootstrap-datepicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet"/>
<link href="/static/lib/datetimepicker/jquery.datetimepicker.css" rel="stylesheet"/>


<link href="/static/inspinia/css/plugins/dataTables/datatables.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/static/lib/fancybox/jquery.fancybox.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/lib/select2/select2.min.css"/>


<link href="/static/inspinia/css/animate.css" rel="stylesheet"/>
<link href="/static/inspinia/css/style.css" rel="stylesheet"/>

<link href="/static/base/base.css" rel="stylesheet"/>

<link href="/static/manager/list.css" rel="stylesheet" type="text/css"/>
