<script src="/static/inspinia/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/static/base/utils.js"></script>
<script type="text/javascript" src="/static/base/base.js"></script>

<!-- Mainly scripts -->
<script src="/static/inspinia/js/bootstrap.min.js"></script>
<script src="/static/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/inspinia/js/inspinia.js"></script>
<script src="/static/inspinia/js/plugins/pace/pace.min.js"></script>

{#TOASTR#}
<script src="/static/inspinia/js/plugins/toastr/toastr.min.js"></script>
<script src="/static/lib/alertify/alertify1.8.min.js"></script>


<!-- OTHER -->
<script src="/static/inspinia/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/lib/bootstrap-datepicker/jalaali.js"></script>
<script src="/static/lib/bootstrap-datepicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>
<script src="/static/lib/datetimepicker/jquery.datetimepicker.js"></script>


<script type="text/javascript" src="/static/lib/select2/select2.min.js"></script>
<script type="text/javascript" src="/static/lib/select2/fa.js"></script>
<script type="text/javascript" src="/static/django_select2/django_select2.js"></script>

<script type="text/javascript" src="/static/lib/fancybox/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="/static/manager/list.js"></script>
<script src="/static/inspinia/js/plugins/dataTables/datatables.min.js"></script>
<script src="/static/inspinia/js/plugins/dataTables/dataTables.responsive.min.js"></script>
<script src="/static/lib/jquery-code-scanner.js"></script>