.input_td input[type="text"], .input_td input[type="password"], .input_td input[type="email"], .input_td input[type="url"], .input_td input[type="file"], .input_td select, .input_td ul, textarea, select, .select2-container {
    width: 100% !important;
}

.comment-list li {
    display: list-item !important;
    list-style: none;
    background: rgb(255, 255, 255);
    padding: 20px 20px 20px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 0 20px 0;
    font-size: 14px;
}

.comment-list li.even {
    background-color: ghostwhite;
}

.comment-list li.odd {
    background-color: rgb(252, 252, 250);
}

.comment-list li .comment-user {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: rgb(94, 177, 230);
    font-family: "B Mitra", sans-serif;
    display: inline-block;
}

.comment-list li .comment-date {
    color: rgb(214, 213, 213);
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
}

.comment-list li .seen-by-member {
    color: rgb(150, 150, 150);
    display: inline-block;
}

.comment-list li .comment-text p {
    white-space: pre;
}